<h1>Login Page</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <p><%= f.label :email, "email" %><br />
  <%= f.text_field :email, placeholder: "email" %></p>
  <p><%= f.label :password, "password" %><br />
    <%= f.password_field :password, placeholder: "password" %></p>
  <p><%= f.submit "Login" %></p>
<% end %>
