<!DOCTYPE html>
<html>
<head>
  <title>RailsMiniProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= link_to "Log Out", logout_path, method: :delete %>
<% else %>
  <%= link_to "Log In", login_path %>
<% end %>

<% if flash.any? %>
  <% flash.each do |type, message| %>
    <%= message %>
  <% end %>
<% end %>

<%= yield %>

<%= link_to "Register Account", new_user_path %>
<%= link_to "Create New Category", new_category_path %>
</body>
</html>
